In [1]:
import pandas as pd

In [2]:
#Here we are creating a DataFrame from a directory
df = pd.DataFrame(
    {
    'name': ['Adam', 'Bob', 'Dave', 'Fred'],
    'age': [15, 16, 16, 15],
    'test1': [95, 81, 89, None],
    'test2': [80, 82, 84, 88],
    'teacher': ['Ashby', 'Ashby', 'Jones', 'Jones']
    }
)

df

   name  age  test1  test2 teacher
0  Adam   15   95.0     80   Ashby
1   Bob   16   81.0     82   Ashby
2  Dave   16   89.0     84   Jones
3  Fred   15    NaN     88   Jones

In [7]:
#For the next method, we will need to first define three Pandas series
purchase_1 = pd.Series(
    {
        'Cost': 22.5,
        'Item Purchased': 'Dog food',
        'Name': 'Chris'
    }
) 
purchase_2 = pd.Series(
    {
        'Cost': 2.5,
        'Item Purchased': 'Kitty Litter',
        'Name': 'Kevin'
    }
) 
purchase_3 = pd.Series(
    {
        'Cost': 5,
        'Item Purchased': 'Bird Seed',
        'Name': 'Vinod'
    }
)

In [8]:
#Here we are combining the 3 series into a data frame
df2 = pd.DataFrame([purchase_1, purchase_2, purchase_3],
            index=['Store 1', 'Store 1', 'Store 2'])

df2

         Cost Item Purchased   Name
Store 1  22.5       Dog food  Chris
Store 1   2.5   Kitty Litter  Kevin
Store 2   5.0      Bird Seed  Vinod